<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Menu.plist
   Cravyy

   Created by Namratha Subramanya on 12/19/18.
   Copyright (c) 2018 Namratha Subramanya. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
